.badge-num {
  background-color: tomato;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
}

.badge-alert {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: block;
}
